################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.DS_Store
*.out
*.o
//.vscode
*.exe
*.dll
*.vcxproj
*.filters
*.user
*.obj
*.recipe
*.log
*.tlog
*.idb
*.pdb
*.sln
*.ilk
*.enc
*.xml
*.iml
topdown/theGame
topdown/x64/Debug/TopDown.vcxproj.FileListAbsolute.txt
topdown/x64/Release/TopDown.iobj
*.ipdb
*.txt
*.iobj
x64/Release/SDL2.lib
topdown/.idea/.name
