################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
.DS_Store
.out
.o
.vscode
*.exe
*.dll
main.o
player.o
theGame